@import url('https://fonts.googleapis.com/css?family=Roboto');

/* ------------------------------------------------------------------------------------------
 * Content
 * ------------------------------------------------------------------------------------------ */
body {
}

body, p, a, div, th, td {
  font-family: "Roboto", monospace, sans-serif;
  font-weight: 400;
  font-size: 16px;
}

td.code {
  font-size: 14px;
  font-family: "Roboto", monospace;
  font-style: normal;
  font-weight: 400;
}

#content {
  padding:0px;
  padding-left: 220px;
}
.noPadding{
  padding:0px;
}
.nav>li>a:focus, .nav>li>a:hover
{
  background-color: transparent;
  color:#FFF;
  font-weight: bold;
  border:0px;
  border-radius: 0px;
}

.table tr td,.table tr td p{
  font-size: 12px;
  border:0px;
}
.tab-content{
  margin-bottom: 25px;
}

.table tr th{
  background-color: rgba(0,0,0,.1);
  font-size: 12px;
  border:0px;
}

.dark .input-group-addon
{
  background-color: #000;
  color:rgba(255,255,255,.9);
  border-radius: 0px;
  border:0px;
  text-align: center;
  min-width: 80px;
}
.dark .form-control{
  background-color: rgba(255,255,255,.3);
  color:rgba(255,255,255,1);
  border-radius: 0px;
  border:0px; 
  border:1px solid #000;
}
.dark label{
  font-size: 12px;
  color:rgba(255,255,255,.8);
  text-transform: uppercase;
}
.dark .btn-group-lg>.btn
{
  width: 100%;
  background-color: #0F75D4
  color:#FFF;
  text-align: center;
}
.dark{
  background-color: #333333;
  padding:25px;
  box-sizing: border-box;
  color:rgba(255,255,255,.8);
  font-size: 14px;
}
.dark table{
  border:0px;
  color:#FFF;
}
.dark table tr td{
  border:0px;
  font-size: 12px;
}
.dark .table>thead>tr>th
{
  background-color: transparent;
  color:rgba(255,255,255,.8);
  font-size: 12px;
  border:0px;
}
.dark .table tr td p{
  font-size: 12px;
  color:rgba(255,255,255,.5);

}
.dark .nav-tabs>li.active>a, 
.dark .nav-tabs>li.active>a:focus, 
.dark .nav-tabs>li.active>a:hover
{
  
  color:#FFF;
  font-size: 12px;
  border:0px;
  padding: 10px;
  background-color: #000;
  border-radius: 3px;
}
.dark .nav-tabs
{
  border:0px;
  background-color: #191919;
  padding:5px;
  width: 100%;
  border-radius: 0px;
}
ul.nav-tabs{
    background-color: #191919;
    color:#FFF;
    border:0px;
    border-radius: 0px;
    margin-top: 25px;
    font-size: 12px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
  background-color: #333333;
  border:0px;
    border-radius: 0px;
    color:#FFF;
}
div#project h1 {
  margin: 0;
  flex: 1;
}

div#project img {
  height: 32px;
  margin-right: 10px;
}

div#project .header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #FFF;
    border-bottom: 2px solid rgba(0,0,0,.1);
    position: fixed;
    height: 64px;
    left: 220px;
    top: 0px;
    right: 0px;
    z-index: 999;
}

div#project .description {
  margin-top: 64px;
  padding: 15px;
}

p {
  color: #808080;
}

h1 {
  font-family: "Roboto", monospace, sans-serif;
  font-weight: normal;
  font-size: 20px;
}

h2 {
  font-family: "Roboto", monospace, sans-serif;
  font-weight: normal;
  font-size: 14px;
  
}


section h1 {
  font-family: "Roboto", monospace, sans-serif;
  font-weight: bold;
  font-size: 22px;
  margin-top: 15px;
  padding: 15px;
  width: 100%;
  vertical-align: middle;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
article {
  padding: 14px 0 30px 0;
}

article h1 {
  font-family: "Roboto", monospace, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: rgba(0,0,0,.7);
}

article h2 {
  font-family: "Roboto", monospace, sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  margin: 0 0 10px 0;
}

article h3 {
  font-family: "Roboto", monospace, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  margin: 0 0 10px 0;
}

article h4 {
  font-family: "Roboto", monospace, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  margin: 0 0 8px 0;
}

th {
  background-color: #f5f5f5;
  text-align: left;
  font-family: "Roboto", monospace, sans-serif;
  font-weight: 700;
  padding: 4px 8px;
  border: #e0e0e0 1px solid;
}

td {
  vertical-align: top;
  padding: 2px 8px;
  border: #e0e0e0 1px solid;
}

#generator .content {
  color: #b0b0b0;
  border-top: 1px solid #ebebeb;
  padding: 10px 0;
}

.label-optional {
  float: right;
}

.open-left {
  right: 0;
  left: auto;
}

/* ------------------------------------------------------------------------------------------
 * apidoc - intro
 * ------------------------------------------------------------------------------------------ */

#apidoc .apidoc {
  border-top: 1px solid #ebebeb;
  padding: 30px 0;
}

/*#apidoc h1 {
  font-family: "Roboto", monospace, sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  padding-bottom: 14px;
  margin: 0 0 20px 0;
  padding: 0;
}

#apidoc h2 {
  font-family: "Roboto Bold", monospace, sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  padding-top: 14px;
}*/

/* ------------------------------------------------------------------------------------------
 * pre / code
 * ------------------------------------------------------------------------------------------ */
pre {
  border:0px;
  color: #ffffff;
  background-color: transparent;
  padding: 0px;
  
  position: relative;
  margin:0px;
  padding-top: 20px;
  padding-bottom: 20px;
  

}
pre.prettyprinted{
  color:#fff;
  padding:15px;
  font-size: 14px;
  box-sizing: border-box;
  background-color: #333333;
  border-radius: 0px;
}
.dark pre.prettyprinted
{
  background-color: #000;
}
pre .typ{
  font-weight: bold;
  color:#0F75D4;
  font-size: 12px;
  padding:5px;
  border-radius: 3px;
  text-align: center;
}

pre .typ.small {
  padding: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 8px;
  width: 28px;
  height: 13px;
  display: inline-block;
}

pre .typ.get{
  background-color: #408000;
  color:#FFF;
}

pre .typ.post{
  background-color: #0080FF;
  color:#FFF;
}

pre .typ.put{
  background-color: #9b708b;
  color:#FFF;
}

pre .typ.delete{
  background-color: #e27a7a;
  color:#FFF;
}

pre .typ.small.delete {
  letter-spacing: -1px;
}

code.language-text {
  word-wrap: break-word;
}

pre.language-json {
  overflow: auto;
}

pre.language-html {
  margin: 20px 0 20px 0;
}

pre.language-html:before {
  content: attr(data-type);
  position: absolute;
  top: -30px;
  left: 0;
  font-family: "Roboto", monospace, sans-serif;
  font-weight: 600;
  font-size: 15px;
  display: inline-block;
  padding: 2px 5px;
  border-radius: 6px;
  text-transform: uppercase;
  background-color: #3387CC;
  color: #ffffff;
}

pre.language-html[data-type="get"]:before {
  background-color: green;
}

pre.language-html[data-type="put"]:before {
  background-color: #e5c500;
}

pre.language-html[data-type="post"]:before {
  background-color: #4070ec;
}

pre.language-html[data-type="delete"]:before {
  background-color: #ed0039;
}

pre.language-api .str {
  color: #ffffff;
}

pre.language-api .pln,
pre.language-api .pun {
  color: #65B042;
}

pre code {
  display: block;
  font-size: 14px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  word-wrap: normal;
  white-space: pre;
}

pre code.sample-request-response-json {
  white-space: pre-wrap;
  max-height: 500px;
  overflow: auto;
}

/* ------------------------------------------------------------------------------------------
 * Sidenav
 * ------------------------------------------------------------------------------------------ */
.sidenav {
  margin: 0;
  padding: 0px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #2E3336;
  z-index: 10;
  padding-top: 20px;
  width: 220px;
}

.sidenav pre {
  padding: 0;
  display: flex;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  word-wrap: normal;
  white-space: pre;
}

.sidenav .pln {
  margin-left: 4px;
}

.sidenav > li > a {
  display: block;
  margin: 0;
  padding: 10px;
  border: 0;
  border-left: transparent 4px solid;
  border-right: transparent 4px solid;
  font-family: "Roboto", monospace, sans-serif;
  font-weight: 400;
  color:#FFFFFF;
  font-size: 14px;
}
.sidenav > li:hover,
.sidenav>li>a:focus, 
.sidenav>li>a:hover{
   background-color: #4C4C4C;
   border:0px;
  border-radius: 0px;
}
.sidenav > li.nav-header > a {
  padding: 5px 15px;
  
  font-family: "Roboto", monospace, sans-serif;
  font-weight: 700;
  font-size: 16px;
  background-color: #4C4C4C;
}

.sidenav > li.active > a {
  background-color: #0F75D4;
  color: #FFF;
  border:0px;
  border-radius: 0px;
}



.sidenav > li.has-modifications a {
  border-right: #60d060 4px solid;
}

/*
.sidenav > li.is-new a {
  border-left: #e5e5e5 4px solid;
}
*/

/* ------------------------------------------------------------------------------------------
 * Compare
 * ------------------------------------------------------------------------------------------ */

ins {
  background: #60d060;
  text-decoration: none;
  color: #000000;
}

del {
  background: #f05050;
  color: #000000;
}

.label-ins {
  background-color: #60d060;
}

.label-del {
  background-color: #f05050;
  text-decoration: line-through;
}

pre.ins {
  background-color: #60d060;
}

pre.del {
  background-color: #f05050;
  text-decoration: line-through;
}

table.ins th,
table.ins td {
  background-color: #60d060;
}

table.del th,
table.del td {
  background-color: #f05050;
  text-decoration: line-through;
}

tr.ins td {
  background-color: #60d060;
}

tr.del td {
  background-color: #f05050;
  text-decoration: line-through;
}

/* ------------------------------------------------------------------------------------------
 * Spinner
 * ------------------------------------------------------------------------------------------ */

#loader {
  position: absolute;
  width: 100%;
  background-color: rgba(255,255,255,.8);
}

#loader p {
  padding-top: 80px;
  margin-left: -4px;
}

.spinner {
  margin: 200px auto;
  width: 60px;
  height: 60px;
  position: relative;
}

.container1 > div, .container2 > div, .container3 > div {
  width: 14px;
  height: 14px;
  background-color: #000000;

  border-radius: 100%;
  position: absolute;
  -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
  animation: bouncedelay 1.2s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .spinner-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.container2 {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.container3 {
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}

.circle1 { top: 0; left: 0; }
.circle2 { top: 0; right: 0; }
.circle3 { right: 0; bottom: 0; }
.circle4 { left: 0; bottom: 0; }

.container2 .circle1 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.container3 .circle1 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.container1 .circle2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.container2 .circle2 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.container3 .circle2 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.container1 .circle3 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.container2 .circle3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.container3 .circle3 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.container1 .circle4 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.container2 .circle4 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.container3 .circle4 {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/* ------------------------------------------------------------------------------------------
 * Tabs
 * ------------------------------------------------------------------------------------------ */


/* ------------------------------------------------------------------------------------------
 * Print
 * ------------------------------------------------------------------------------------------ */

@media print {

  #sidenav,
  #version,
  #versions,
  section .version,
  section .versions {
    display: none;
  }

  #content {
    margin-left: 0;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  a:after {
    content: " [" attr(href) "] ";
  }

  p {
    color: #000000
  }

  pre {
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
    border: #808080 1px solid;
    border-radius: 6px;
    position: relative;
    margin: 10px 0 20px 0;
  }

}

@media print {
  .hide-print {
    display: none;
  }
}
